<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	>	
<head>
	<title> Home Page</title>
</head>
<body>
		
	<div layout:fragment="content"><br/><br/>
		<h2 th:text="#{label.welcome}"></h2>
		<div class="row">
			<div class="col-md-4">
			<p th:text="#{text.welcome}"></p><br/>
			<button type="submit" class="btn btn-primary btn-block" onclick="location.href='/singin'" th:text="#{register.button}"></button>
 			</div>
		</div>	    
	</div>
		
		<div th:class="${controllerName == 'Home'} ? 'active'">
		<div  th:class="${controllerName.startsWith('User')} ? 'active'" sec:authorize="hasRole('USER')">Div da visualizzare da user</div>
		<div th:class="${controllerName.startsWith('Admin')} ? 'active'" sec:authorize="hasRole('ADMIN')">Div da visualizzare da admin</div>
		</div>
</body>
</html>