<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	>	
<head>
	<title> User Page</title>
</head>
<body>

			<div th:if="${message}" class="alert alert-success" role="alert">
				<p th:text="${message}">success message</p>
			</div>
			
			<div th:if="${errormessage}" class="alert alert-danger" role="alert">
				<p th:text="${errormessage}">success message</p>
			</div>
		
	<div layout:fragment="content">
		<h2>Welcome User</h2>
		
	</div>
		
		<div th:class="${controllerName == 'Home'} ? 'active'">
		<div  th:class="${controllerName.startsWith('User')} ? 'active'" sec:authorize="hasRole('USER')">Div da visualizzare da user</div>
		<div th:class="${controllerName.startsWith('Admin')} ? 'active'" sec:authorize="hasRole('ADMIN')">Div da visualizzare da admin</div>
		</div>
</body>
</html>