<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create New User</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>Create New User</h2>
		<br/>
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>
		
		<div th:if="${errormessage}" class="alert alert-danger" role="alert">
			<p th:text="${errormessage}">success message</p>
		</div>
		
		<form class="form-horizontal" th:object="${user}" th:action="@{/singin/save}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="col-sm-2 control-label">name: </label>
				<div class="col-md-10">
					<input type="text" required="required"  class="form-control" th:field="*{name}" />
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">vate</label>
		    	<div class="col-md-10">
		    		<input type="text" required="required"  class="form-control" th:field="*{vate}" />
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">address</label>
		    	<div class="col-md-10">
		    		<input type="text" required="required"  class="form-control" th:field="*{address}" />
		    	</div>
		  	</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">email</label>
				<div class="col-md-10">
					<input type="email"  class="form-control" th:field="*{email}" />
				</div>
			</div>
				<div class="form-group">
		    	<label class="col-sm-2 control-label">password</label>
		    	<div class="col-md-10">
		    		<input type="password" required="required"  class="form-control" th:field="*{password}" />
		    	</div>
		  	</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		
	</div>
		
</body>
</html>