<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title th:text="#{invoices.title}"></title>
</head>
<body>
		
<div layout:fragment="content">
	
		<h2 th:text="#{invoices}"></h2>
		
			<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
			</div>
	
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th th:text="#{invoice_code}"></th>
					<th th:text="#{vate_client}"></th>
					<th th:text="#{product_code}"></th>
					<th th:text="#{product_description}"></th>
					<th th:text="#{quantity}"></th>
					<th th:text="#{unit_price}"></th>
					<th th:text="#{total_price}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice : ${invoices}">
					<td th:text="${invoice.invoice_code}"></td>
					<td th:text="${invoice.vate_client}"></td>
					<td th:text="${invoice.product_code}"></td>
					<td th:text="${invoice.product_description}"></td>	
					<td th:text="${invoice.quantity}"></td>
					<td th:text="${invoice.unit_price}"></td>	
					<td th:text="${invoice.total_price}"></td>	
				</tr>
			</tbody>
		</table>
		
		
		<p th:if="${invoices.size() == 0}">
			<div class="alert alert-warning" role="alert" th:text="#{invoices_nf}"></div>
		</p>
		
	</div>
		
</body>
</html>