<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Invoices</title>
</head>
<body>
		
	<div layout:fragment="content">
	
	    <article th:each="invoice : ${invoices}">
			<header>
				<h2 th:text="${invoice.invoice_code}">Invoice Code</h2>
			</header>
			<section th:utext="${invoice.vat_client}">
				Vat Client
			</section>
			<footer>
				<a th:href="|@{/home/invoice/view/}${invoice.id}|">Read More</a>
			</footer>
			<hr/>
		</article>
		
	</div>
		
</body>
</html>