<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title th:text="|View Invoice - ${invoice.invoice_code}|">View Invoice</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/home/invoice/list">Invoices</a></li>
			<li class="active" th:text="${invoice.invoice_code}"></li>
		</ol>
	
	    <article>
			<header>
				<h2 th:text="${invoice.invoice_code}">Invoice Code</h2>
			</header>
			<section th:utext="${invoice.total_price}">
				Total Price
			</section>
			<hr/>
		</article>

	</div>
		
</body>
</html>